# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives :__

- Popular languages that Data Scientists use are
- Commonly used libraries used by Data Scientists include
- Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. Keras

| Data Science Tools | 
| -------------| 
| RStudio | 
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

#### x + y
#### x - y
#### x * y
#### x / y

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Juan Alberto Gonzalez Alvarado